{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@[a-zA-Z]|^[a-zA-Z]", "^@/|^./"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 120
}
