@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
  .avatar-surround-border {
    &::after {
      content: "";
      @apply absolute w-full h-full bg-gray-500 rounded-tr-full;
    }
  }
}

@import "./lara-blue/theme.scss";
@import "./animation.scss";

:root {
  font-family: "Roboto", sans-serif;
  color-scheme: dark;
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 15px;

  color: rgba(255, 255, 255, 0.87);
  @apply bg-gray-900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  place-items: start;
  min-height: 100svh;
  min-width: 100svw;
  overscroll-behavior: contain;

  .p-dialog {
    .p-confirm-dialog-message {
      @apply m-0;
    }
  }

  .overflow-visible {
    .p-ink {
      display: none;
    }
  }

  .toast-plus {
    &::before {
      content: "+";
      @apply mr-1;
    }
  }

  .toast-minus {
    &::before {
      content: "-";
      @apply mr-1;
    }
  }
}

// below this is temporary
@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toast-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.animate-toast-in {
  animation: toast-in 0.25s ease-out forwards;
}

.animate-toast-out-delayed {
  animation: toast-out 0.25s ease-in forwards;
  animation-delay: 1.7s;
}


